/googletest/
/cmake-build-debug/
/.devcontainer/
/build/

# Игнорировать файлы и папки, создаваемые CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Игнорировать файлы, создаваемые компилятором
*.o
*.obj
*.exe
*.out
*.app

# Игнорировать файлы, создаваемые IDE
.vscode/
.idea/
*.user

# Игнорировать временные файлы
*~
*.swp
